  /* nav bar */
  
header  {
	background-color: #0ca4a5;
	width: 100%;
	box-shadow: 1px 1px 7px black;
	padding: auto;
	margin: auto;
	position: fixed;
	top:0;
	bottom: 91%;
}

header li {
	list-style-type: none;
	display: inline;
	margin: 0;
	float: left;
	margin-left: 10px;
	text-decoration: none;
	padding: 10px 10px 0px 10px;

}

header nav ul li a:hover {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 4px solid #69dba7;
}

header nav ul li a:active {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 4px solid #69dba7;
}
  
header nav ul li {
	list-style:none;
	display: inline;
	color: #ffffff;
}

header nav .ul-left {
	float: left;
}

header nav .ul-right{
	float: right;
	padding-right: 30px;
}
  
header ul li a {
	color: #ffffff;
	font-family: 'Special Elite', cursive;
	font-size: 26px;
	display: block;
} 

/* navbar end */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }
body{
	padding-top:50px;
  }


 
/* map divs */
#map {
	height: 50%;
	
}


#floating-panel {
	position: absolute;
	left: 25%;
	z-index: 5;
	background-color: #ffffff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	line-height: 30px;
	padding-left: 10px;
}


.btn-div{
	  margin-top: 5px;
	  margin-bottom: 5px;
}
.people a{
	pointer-events: none;
}
.people li{
	cursor: pointer;
	/*border: 1px solid black;*/
}
#mapNav{
	position:fixed;
	width:50px;
	height:50px;
	bottom: 10px;
	right:10px;
}
#loading{
	position:fixed;
	width:60px;
	height:60px;
	bottom: 10px;
	right:70px;
}
  
#dates li{
	list-style: none;
	display: inline;
	 /* will need to correct this once timeline works.... again */
	padding: 10px;
	
	
}

.info, .options {
	display: none;
}

#timeline {
	padding-top: 40px;
	color: #0a2342;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}



